@font-face {
    font-family : "degular"; 
    src : url("fonts/DegularVariable.ttf");

    font-family: "cactus";
    src : url("fonts/cactus Jack.ttf"); 

    font-family : "fatkat"; 
    src : url("fonts/FatKat-nRlnP.otf");
}

.hello { 
    font-family: "degular";
}

