<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Your Ticket</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="background-color:#0C0C0C;overflow:hidden;">
    <div class="menu">
        <img src="../static/imgs/menu.svg" alt="" class = "mclick">

        <div class="menuitem">
            <a href="login">Login</a>
            <a href="shop">Shop</a>
            <a href="event">Event</a>
            <a href="booking">Booking</a>
        </div>
    </div>
    <div class="stageel" style="transform-origin:top left;transform: scale(0.55) translate(-140%, -62.5%);">
            <div class="stages">
                <div class="upstageblock">
                    <div class="upstage"></div>
                    <div class="up1"></div>
                    <div class="up2"></div>
                    <div class="up3"></div>
                    <div class="upstagemain">
                        <p>STAGE</p>
                    </div>
                    <div class="walk"></div>
                    <div class="goldleft">
                        GOLD <br>
                        <strong>LEFT</strong><br>
                        ₹18000
                    </div>
                    <div class="goldright">
                        GOLD <br>
                        <strong>RIGHT</strong><br>
                        ₹18000
                    </div>
                </div>
                <div class="mainstage">
                    <div class="silver">
                        <p>SILVER<br><span>₹7500</span></p>
                    </div>
                </div>
            </div>
            <div class="blocks">
                <div class="block">
                    <p>A21</p>
                </div>
                <div class="block">
                    <p>A20</p>
                </div>
                <div class="block">
                    <p>A19</p>
                </div>
                <div class="block">
                    <p>A18</p>
                </div>
                <div class="block">
                    <p>A17</p>
                </div>
                <div class="block">
                    <p>A16</p>
                </div>
                <div class="block">
                    <p>A15</p>
                </div>
                <div class="block">
                    <p>A14</p>
                </div>
                <div class="block">
                    <p>A13</p>
                </div>
                <div class="block">
                    <p>A12</p>
                </div>
                <div class="block">
                    <p>A11</p>
                </div>
                <div class="block">
                    <p>A10</p>
                </div>
                <div class="block">
                    <p>A9</p>
                </div>
                <div class="block">
                    <p>A8</p>
                </div>
                <div class="block">
                    <p>A7</p>
                </div>
                <div class="block">
                    <p>A6</p>
                </div>
                <div class="block">
                    <p>A5</p>
                </div>
                <div class="block">
                    <p>A4</p>
                </div>
                <div class="block">
                    <p>A3</p>
                </div>
                <div class="block">
                    <p>A2</p>
                </div>
                <div class="block">
                    <p>A1</p>
                </div>
            </div>
            <div class="price1">
                <p>₹7000</p>
            </div>
            <div class="blocks2">
                <div class="block">
                    <p>B24</p>
                </div>
                <div class="block">
                    <p>B23</p>
                </div>
                <div class="block">
                    <p>B22</p>
                </div>
                <div class="block">
                    <p>B21</p>
                </div>
                <div class="block">
                    <p>B20</p>
                </div>
                <div class="block">
                    <p>B19</p>
                </div>
                <div class="block">
                    <p>B18</p>
                </div>
                <div class="block">
                    <p>B17</p>
                </div>
                <div class="block">
                    <p>B16</p>
                </div>
                <div class="block">
                    <p>B15</p>
                </div>
                <div class="block">
                    <p>B14</p>
                </div>
                <div class="block">
                    <p>B13</p>
                </div>
                <div class="block">
                    <p>B12</p>
                </div>
                <div class="block">
                    <p>B11</p>
                </div>
                <div class="block">
                    <p>B10</p>
                </div>
                <div class="block">
                    <p>B9</p>
                </div>
                <div class="block">
                    <p>B8</p>
                </div>
                <div class="block">
                    <p>B7</p>
                </div>
                <div class="block">
                    <p>B6</p>
                </div>
                <div class="block">
                    <p>B5</p>
                </div>
                <div class="block">
                    <p>B4</p>
                </div>
                <div class="block">
                    <p>B3</p>
                </div>
                <div class="block">
                    <p>B2</p>
                </div>
                <div class="block">
                    <p>B1</p>
                </div>
            </div>
            <div class="price2">
                <p>₹5000</p>
            </div>
        </div>
        <div class="lbox">
        <p style = "margin-top: 20px">BOOK</p>
        <p style = "margin-top: -20px;color:#FFFFFF60;">Enjoy your time</p><br>
        <form>
            <input type="text" placeholder = "Ticket (for eg. goldright, goldleft, silver, a12, b14)" id = "uname" name = "uname"><br>
            <input type="text" placeholder = "Account Password (for verification)" id = "psw" name = "psw"><br>
            <p style="margin-top:50px;font-size:12.5px;">forgot your password?</p>
            <input type="submit" value="BOOK">
        </form>
    </div>
    <div class="back">
        <a href="./"><img src="../static/imgs/back.svg" alt=""></a>
    </div>
        <script>
        const blocks = document.querySelectorAll('.blocks .block');
        const total = blocks.length;

        const radius = 450;          
        const cx = 400;       
        const cy = -400;  

        blocks.forEach((block, i) => {
            const angle = -90 + (i / (total - 1)) * 180;
            const rad = angle * Math.PI / 180;

            const x = cx + radius * Math.sin(rad);
            const y = cy + radius * Math.cos(rad);

            block.style.left = `${x - 35}px`;
            block.style.top = `${y - 45}px`;
            block.style.transform = `rotate(${-angle}deg)`;
        });
        const blocks2 = document.querySelectorAll('.blocks2 .block');
        const total2 = blocks2.length;

        const radius2 = 550;          
        const cx2 = 400;       
        const cy2 = -400;  

        blocks2.forEach((block, i) => {
            const angle2 = -90 + (i / (total2 - 1)) * 180;
            const rad2 = angle2 * Math.PI / 180;

            const x2 = cx2 + radius2 * Math.sin(rad2);
            const y2 = cy2 + radius2 * Math.cos(rad2);

            block.style.left = `${x2 - 35}px`;
            block.style.top = `${y2 - 45}px`;
            block.style.transform = `rotate(${-angle2}deg)`;
        });
    </script>
    <script src="../static/index.js"></script>
</body>
</html>