<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Booked</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="background-color:#0C0C0C;overflow:hidden">
    <div class="menu">
        <img src="../static/imgs/menu.svg" alt="" class = "mclick">

        <div class="menuitem">
            <a href="login">Login</a>
            <a href="shop">Shop</a>
            <a href="event">Event</a>
            <a href="booking">Booking</a>
        </div>
    </div>
    <div class="tbd">
        <p>TICKET BOOKED</p>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>