<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Home</title>
</head>
<body style="background-color: #0C0C0C;">
    <div class="menu">
        <img src="../static/imgs/menu.svg" alt="" class = "mclick">

        <div class="menuitem">
            <a href="login">Login</a>
            <a href="shop">Shop</a>
            <a href="event">Event</a>
            <a href="booking">Booking</a>
        </div>
    </div>
    <div class="hero">
        <p>
            TRAVIS <br>
            SCOTT
        </p>
    </div>
    <div class="heroimg">
        <img src="../static/imgs/travishome.png" alt="">
    </div>
    <div class="thescotts">
        <p>laflame</p>
    </div>
    <div class="grrr">
        <p>straight up</p>
    </div>
    <div class="jb2">
        <p>its lit</p>
    </div>
    <div class="hbox">
        <p>Travis Scott is a Grammy-nominated rapper, producer, and cultural icon known for his genre-blending music and high-energy performances. Beyond music</p>
    </div>
    <div class="india">
        <p>IN INDIA</p>
    </div>
    <a class="bookbtn" href = "booking">
        <p>Book Tickets</p>
    </a>
    <script src="../static/index.js"></script>
</body>
</html>