<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="background-color:#0C0C0c;">
    <div class="menu" style="top:6em">
        <img src="../static/imgs/menu.svg" alt="" class = "mclick">

        <div class="menuitem">
            <a href="login">Login</a>
            <a href="shop">Shop</a>
            <a href="event">Event</a>
            <a href="booking">Booking</a>
        </div>
    </div>
    <div class="offer">
        <p>SELLING OUT FAST! OFFER ENDS IN 35:09 MINS</p>
    </div>
    <div class="shopdetails">
        <p>TRAVIS SCOTT</p>
        <p>SCOTTY 1</p>

        <p>Rs. 2999</p>
        <p>Rs. 1999</p>

        <p>Nodding to Fragment Design’s palette and Travis Scott’s style, the Air Jordan 1 Low Travis Scott Fragment mixes white leather, black overlays, and royal blue accents with a bold reverse Swoosh twist.</p>

        <div class="colors">
            <div></div>
            <div></div>
        </div>
        <div class="buynow">
            <p>Buy Now</p>
        </div>
    </div>
    <div class="hoodie">
        <img src="../static/imgs/brownhoodie.png" alt="">
    </div>
    <div class="hoodieimgs">
        <div>1</div>
        <div>2</div>
    </div>
    <script src="../static/index.js"></script>
    <script>
        let hoodie = true;
        document.querySelector('.colors div:nth-child(1)').addEventListener('click', () => {
            if(hoodie) {
                document.querySelector('.hoodie img').src = "../static/imgs/brownhoodie.png"
            } else {
                document.querySelector('.shopdetails p:nth-child(3)').innerHTML = "Rs. 549"
                document.querySelector('.shopdetails p:nth-child(4)').innerHTML = "Rs. 349"
                document.querySelector('.hoodie img').src = "../static/imgs/browntoy.png"
            }
        })
        document.querySelector('.colors div:nth-child(2)').addEventListener('click', () => {
            if(hoodie) {
                document.querySelector('.hoodie img').src = "../static/imgs/greenhoodie.png"
            } else {
                document.querySelector('.shopdetails p:nth-child(3)').innerHTML = "Rs. 499"
                document.querySelector('.shopdetails p:nth-child(4)').innerHTML = "Rs. 299"
                document.querySelector('.hoodie img').src = "../static/imgs/greentoy.png"
            }
        })
        document.querySelector('.hoodieimgs div:nth-child(1)').addEventListener('click', () => {
            document.querySelector('.hoodie img').src = "../static/imgs/brownhoodie.png"
            document.querySelector('.shopdetails p:nth-child(2)').innerHTML = "SCOTTY 1"
            document.querySelector('.shopdetails p:nth-child(3)').innerHTML = "Rs. 2999"
            document.querySelector('.shopdetails p:nth-child(4)').innerHTML = "Rs. 1999"
            hoodie = true;
        })
        document.querySelector('.hoodieimgs div:nth-child(2)').addEventListener('click', () => {
            document.querySelector('.hoodie img').src = "../static/imgs/browntoy.png"
            document.querySelector('.shopdetails p:nth-child(2)').innerHTML = "SCOTTY 2"
            document.querySelector('.shopdetails p:nth-child(3)').innerHTML = "Rs. 549"
            document.querySelector('.shopdetails p:nth-child(4)').innerHTML = "Rs. 349"
            hoodie = false;
        })
    </script>
    <script src="../static/index.js"></script>
</body>
</html>